<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<h3>게시글 정보 조회</h3>
	<div>
		<label for="title">제목</label> 
		<input type="text" id="title" name="title" th:value="${board.bno}" readonly>
	</div>
	<div>
		<label for="content">내용</label> 
		<textarea id="content" name="content" th:insert="${board.content}" readonly></textarea>
	</div>
	<div>
		<label for="writer">작성자</label> 
		<input type="text" id="writer" name="writer" th:value="${board.writer}" readonly>
	</div>
	<div>
		<label for="image">이미지등록</label> 
		<input type="file" id="image" name="image" multiple th:value="${board.image}" readonly>
	</div>
	<div>
			<button type="button" th:onclick="|location.href='@{/boardUpdate(bno=${board.bno})}'|">수정</button>
			<button type="button" th:onclick="|location.href='@{/boardList}'|">목록</button>
			<button type="button" th:onclick="|location.href='@{/boardDelete(bno=${board.bno})}'|">삭제</button>
	</div>
