<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<th:block th:replace="~{common/configs/default_config :: ConfigFrag}"></th:block>
<title>Home</title>
</head>
<body>
	<div class="container">
		<header class="p-3 mb-3 border-bottom"  th:insert="~{common/fragments/default_header :: defaultHeader}"></header>
		<main>
			<div layout:fragment="Content"></div>
		</main>
		<footer class="p-3 mb-3 d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" th:insert="~{common/fragments/default_footer :: defaultFooter}" ></footer>
	</div>
</body>
</html>