<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layouts/default_layout}" layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>empUpdate</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body

	<div class="container">
		<form name="updateForm" th:object="${emp}">
			<!--/* 보통 Form 태그에 많이 사용한다 그 이유는 input의 name과 값을 같이 넣기 위해서 */-->
			<h3>사원 정보 조회</h3>
			<div>
				<label for="eid">사원번호</label> <input type="number" id="eid"
					th:field="*{employeeId}" readonly>
				<!--/* 객체선택변수 th:field="*{필드명}" */-->
			</div>
			<div>
				<label for="ename">이름</label> <input type="text" id="ename"
					th:field="*{lastName}">
			</div>
			<div>
				<label for="email">이메일</label> <input type="email" id="email"
					th:field="*{email}">
			</div>
			<div>
				<label for="hDate">입사일자</label> <input type="date" id="hDate"
					th:field="*{hireDate}">
				<!--/* VO내에서 DATE fromat를 처리했기 때문에 따로 처리안해도 된다 */-->
			</div>
			<div>
				<label for="job">업무</label> <input type="text" id="job"
					th:field="*{jobId}">
			</div>
			<div>
				<label for="sal">급여</label> <input type="number" step="0.01" min="1"
					id="sal" th:field="*{salary}">
			</div>
			<div>
				<button type="button" id="updateBtn">저장</button>
			</div>
		</form>
	</div>
	<script>
		$('#updateBtn').on('click', updateAjax);
		function updateAjax(event){
			// 1) 보낼 데이터 가져오기
			let dataObj = getFormData(); 
				
			// 2) AJAX 실행
			$.ajax("empUpdate", {
				type: 'post', // method
				// data : dataObj // 객체 -> QueryString
				contentType : 'application/json',
				data:JSON.stringify(dataObj) // json을 할때는 무조건 이런 처리를 해야지만 값을 넘길 수 있다.
			})
			.done((data) => {
				if(data.result){
					alert('성공적으로 수정되었습니다.');
				}else{
					alert('수정되지 않았습니다.');
				}
/* 				return 'result : ' + data.result; */
			})
	/* 		.done((msg) => {
				console.log(msg);
			}) */
			.fail((err)=>console.log(err));
		}
		
		function getFormData(){
			let formAry = $('form[name="updateForm"]').serializeArray();
			/*
				위 데이터의 값은 아래와 같다( 입력태그 1개당 객체형태를 가진다.)
				{ name : "employeeId", value : "100"},
				{ name : "lastName", value : "King"},
				...
			*/
			// 위의 데이터를 반드시 변환해야한다.
			/*
				{"employeeId" : 100, "lastName" : "King"}
			*/
			let formObj = {};
			$.each(formAry, function(idx, tag){
				// tag) {name : "employeeId", value : "100"}
				formObj[tag.name] = tag.value;
				//formObj["employeeId"] = "100";
			});
			
			return formObj; /*{"employeeId" : 100, "lastName" : "King", ...}*/
		}
	</script>
</body>
</html>