<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Home</title>
<th:block th:replace="~{common/configs/default_config :: defaultConfig}"></th:block>
<th:block th:replace="~{common/configs/default_config :: jQueryConfig}"></th:block>
</head>
<body>
	<!--/* 
		th:insert는 현재 위치의 하위 태그로 넣겠다
		th:replace는 현재 위치를 불러오는걸로 대체하겠다.
	 */-->
	<header  class="p-3 mb-3 border-bottom" th:insert="~{common/fragments/default_header :: defaultHeader}"></header>
	<main layout:fragment="Content"></main>
	<footer th:replace="~{common/fragments/default_footer :: defaultFooter}"></footer>
</body>
</html>