<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layouts/default_layout}" layout:fragment="Content">
<body>
	<div class="container">
		<h3>전체 부서 조회</h3>
		<table class="table">
			<thead>
				<tr>
					<th>No.</th>
					<th>부서번호</th>
					<th>부서명</th>
					<th>부서책임자</th>
					<th>지역번호</th>
				</tr>
			</thead>		
			<tbody>
				<th:block th:each="info, sts : ${depts}">
					<!-- info <=> EmpVO => <tr/> -->
					<!-- 반복하고자 하는 코드 -->
					<!--/* <tr th:onclick="|location.href='@{/empInfo(employeeId=${info.employeeId})}'|"> */-->
					<tr>
						<td th:text="${sts.count}"/>
						<!--/* 타임리프에 인라인 문법 [[${값}]] */-->
						<td>[[${info.departmentId}]]</td>
						<td>[[${info.departmentName}]]</td>
						<td>[[${info.managerId}]]</td>
						<td>[[${info.locationId}]]</td>
					</tr>
				</th:block>
			</tbody>
		</table>	
	</div>
    <script>
    	const context = $('meta[name="ctxPath"]').attr('value');
        $('tbody > tr').on('click', function(event){
            let trTag = event.currentTarget;
            let deptid = $(trTag).children().eq(1).text();
            let url = context + '/deptInfo?departmentId=' + deptid;
            location.href=url;
        });
    </script>
</body>
</html>